.container1{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
}


.container2{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
    justify-content: right;
}


.container3{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
    justify-content: center;
}


.container4{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.container5{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.container6{
    width: 99%;
    height: 100px;
    background-color: rgb(182, 182, 182);
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.divFilho1{
    width: 100px;
    height: 100px;
}

.divFilho2{
    width: 100px;
    height: 100px;
}

.divFilho3{
    width: 100px;
    height: 100px;
}

.divFilho4{
    width: 100px;
    height: 100px;
}